@model  IEnumerable<GroupProject.Models.ApplicationUser>
@using Microsoft.AspNet.Identity.EntityFramework;
@{
    ViewBag.Title = "Index";
    var roles = (List<IdentityRole>)ViewBag.Roles;
    var userRoleIds = Model.Select(i => i.Roles);
    List<string> userRoleNames = new List<string>();
    foreach(var item in userRoleIds)
    {
        userRoleNames.Add(roles.SingleOrDefault(r => r.Id.Equals(item.ElementAt(0).RoleId)).Name);
    }
}
<h2>Index</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
            <th scope="col" colspan="4">Actions</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td>@Model.ElementAt(i).Email</td>
                <td>@*@item.Roles*@ @*@Model.Roles.Where(i => i.Id == Model.ApplicationUser.Roles.ElementAt(0).RoleId).Name*@</td>
                <td>@userRoleNames[i]</td>
                <td>
                    @Html.ActionLink("Change Role", "RegisterRoleToUser", "Admin", new { id = Model.ElementAt(i).Id }, null)
                </td>
                <td>
                    @Html.ActionLink("Remove Role", "RemoveRoleFromUser", "Admin", new { id = Model.ElementAt(i).Id }, null)
                </td>

            </tr>
        }
    </tbody>
</table>




