@*@model IEnumerable<GroupProject.Models.Tag>*@
@{
    ViewBag.Title = "Tags";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}
<!-- Modal HTML embedded directly into document -->
<div id="newTag" class="modal">
    <h1>New Tag</h1>
    <div>
        <label for="name">Name</label>
    </div>
    <div>
        <input id="tagNameNew" name="name" type="text" />
    </div>
    <div>
        <button type="button" class="btn btn-primary" id="create">Create</button>
    </div>
    <a id="modal-close" href="#" rel="modal:close">Close</a>
</div>

<div id="editTag" class="modal">
    <h1>Edit Tag</h1>
    <input type="hidden" id="tagIdEdit" name="tagId" value="" />
    <div>
        <label for="name">Name</label>
    </div>
    <div>
        <input id="tagNameEdit" name="name" type="text" />
    </div>
    <div>
        <button type="button" class="btn btn-primary" id="edit">Edit</button>
    </div>
    <a id="modal-close" href="#" rel="modal:close">Close</a>
</div>

<!-- Link to open the modal -->
<p><a href="#newTag" class="btn btn-primary" rel="modal:open">Add Tag</a></p>

<table id="tags" class="table table-bordered table-hover">
    <thead>
        <tr>
            @*<th>Id</th>*@
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {

            var table = $('#tags').DataTable({
                ajax: {
                    url: "/api/tags",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Name"
                    },
                    {
                        //data: "Id",
                        render: function (data, type, tag) {
                            return "<td><a style=' color: #ffe066' class='editTagOpen' href='#editTag' rel='modal:open' data-id='" + tag.Id + "' data-name='" + tag.Name + "'>Edit</a> -- <a style='color: #ff4d4d' class='deleteTag' href='#' data-id='" + tag.Id + "'>Delete</a></td>";
                        },
                        searchable: false,
                        orderable: false
                    }
                ]
            });

            $('#create').click(function () {
                var tag = new Object();
                tag.Name = $('#tagNameNew').val();
                $.ajax({
                    url: '/api/tags',
                    type: 'post',
                    //dataType: 'json',
                    //contentType: 'application/json',
                    data: tag,
                    success: function () {
                        $('#newTag #modal-close').click();
                        table.ajax.reload();
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });

            $(document).on('click', '.editTagOpen', function (e) {
                var tag = new Object();
                tag.Name = e.target.getAttribute('data-name');
                tag.Id = e.target.getAttribute('data-id');
                $('#tagNameEdit').val(tag.Name);
                $('#tagIdEdit').val(tag.Id);
            });

            $(document).on('click', '.deleteTag', function (e) {
                var cnf = confirm("Are you sure you wish to delete this tag?");
                if (cnf) {
                    var del = e.target.getAttribute('data-id');
                    $.ajax({
                        url: '/api/tags/' + del,
                        type: 'delete',
                        success: function () {
                            table.ajax.reload();
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                    }
                });


            $('#edit').click(function () {
                var tag = new Object();
                tag.Name = $('#tagNameEdit').val();
                tag.Id = $('#tagIdEdit').val();
                $.ajax({
                    url: '/api/tags',
                    type: 'put',
                    data: tag,
                    success: function () {
                        $('#editTag #modal-close').click();
                        table.ajax.reload();
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });

    </script>
}