@model GroupProject.Models.ArtWork
@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
	<style>
		.button {
			width: 25px;
			height: 25px;
			/*top: 50%;
			position: fixed;
			left: 50%;
			margin-top: -45px;
			margin-left: -50px;*/
			border-radius: 5px;
			background: none;
			cursor: pointer;
			transition: background 0.5s ease;
		}

		.img-data-container{
			width: 60%;
			margin: auto;
		}

		.active#heart:before, .active#heart:after {
			background: red !important;
		}

		#heart {
			width: 25px;
			height: 20px;
			transition: background 0.5s ease;
			display: inline-block;
			margin: 10px 0;
		}

			#heart:before,
			#heart:after {
				transition: background 0.5s ease;
				position: absolute;
				content: "";
				left: 50px;
				top: 0;
				width: 50px;
				height: 80px;
				background: dimgrey;
				border-radius: 50px 50px 0 0;
				transform: rotate(-45deg);
				transform-origin: 0 100%;
			}

			#heart:after {
				left: 0;
				transform: rotate(45deg);
				transform-origin: 100% 100%;
			}
	</style>
}

<h2 style="text-align: center">Image title</h2>

<div class="img-data-container">
	<img src="~/ArtWorksImages/@Model.Thumbnail" class="center-img" alt="" width="500" />
	<div id='heart' class='button' style="transform: scale3d(0.3, 0.3, 0.3)"></div>

	@if (true)
	{
		var donations = Session["Donations"] as List<int>;
		if (donations != null && donations.Contains(Model.Id))
		{
			
				@Html.ActionLink("Remove", "RemoveDonation", "Commissions", new { id = Model.Id }, new { @class = "btn btn-danger" })
			
		}
		else
		{
			
				@Html.ActionLink("Add to basket", "Donation", "Commissions", new { id = Model.Id }, new { @class = "btn btn-success" })
			
		}
	}

	<div class="img-desc">
		Img description goes here
	</div>
</div>




<div class="well">
	<h4>Leave a Comment:</h4>
	<form role="form" method="post">
		<div class="form-group">
			<textarea name="body" class="form-control" rows="3"></textarea>
		</div>
		<button type="submit" name="submit" class="btn btn-primary">Submit</button>
	</form>
</div>


<div class="media">
	<a class="pull-left" href="#">
		<img class="media-object" src="http://placehold.it/64x64" alt="">
	</a>
	<div class="media-body">
		<h4 class="media-heading">
			By Me<small>August 25, 2014 at 9:30 PM</small>
		</h4>
		Another Comment
	</div>
</div>


@section Scripts{
	<script src="//cdn.jsdelivr.net/mojs/latest/mo.min.js"></script>
	<script>
		$(document).ready(function () {
			var scaleCurve = mojs.easing.path('M0,100 L25,99.9999983 C26.2328835,75.0708847 19.7847843,0 100,0');
			var el = document.querySelector('.button'),
				// mo.js timeline obj
				timeline = new mojs.Timeline(),

				// tweens for the animation:

				// burst animation
				tween1 = new mojs.Burst({
					parent: el,
					radius: { 0: 33 },
					angle: { 0: 45 },
					y: -10,
					count: 10,
					radius: 33,
					children: {
						shape: 'circle',
						radius: 30,
						fill: ['red', 'white'],
						strokeWidth: 15,
						duration: 500,
					}
				});


			tween2 = new mojs.Tween({
				duration: 900,
				onUpdate: function (progress) {
					var scaleProgress = scaleCurve(progress);
					//el.style.WebkitTransform = el.style.transform = 'scale3d(' + scaleProgress + ',' + scaleProgress + ',0.3)';
					el.style.WebkitTransform = el.style.transform = 'scale3d(0.3, 0.3 ,0.3)';
				}
			});
			tween3 = new mojs.Burst({
				parent: el,
				radius: { 0: 33 },
				angle: { 0: -45 },
				y: -10,
				count: 10,
				radius: 33,
				children: {
					shape: 'circle',
					radius: 30,
					fill: ['white', 'red'],
					strokeWidth: 15,
					duration: 400,
				}
			});

			// add tweens to timeline:
			//timeline.add(tween1, tween2, tween3);


			// when clicking the button start the timeline/animation:
			$(".button").click(function () {
				if ($(this).hasClass('active')) {
					$(this).removeClass('active');
				} else {
					timeline.play();
					$(this).addClass('active');
				}
			});


		});

	</script>
}